<header>
    <nav class = "headerNav">
        <a href="/" class="headerTitle">Mybrary</a>
        <ul>
            <li class= "headerLink"><a href="/authors">Authors</a></li>
            <li class= "headerLink"><a href="/authors/new">Add Author</a></li>
            <li class= "headerLink"><a href="/books">books</a></li>
            <li class= "headerLink"><a href="/books/new">Add book</a></li>
        </ul>
    </nav>    
</header>