<h2 class="pageHeader"><%= author.name %></h2>
<div class="buttonRow">
  <a class="btn btnPrimary" href="/authors/<%= author.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/authors/${author.id}` }) %>
</div>
<% if (booksByAuthor.length > 0) { %>
  <h2 class="pageHeader">Books By Author</h2>
  <%- include('../partials/bookgrid',{ books: booksByAuthor})%>
<% } %>



